<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="title">OnBoarding Form</h2>
            <form action="" [formGroup]="onBoard" (ngSubmit) ="!onBoard.Invalid && onSubmit()">
                <div class="regForm form-group">
                    <label class="topField" for="">Company Name*</label><br>
                    <input  class="inputField formField" type="text" placeholder="Company Name" 
                    formControlName="companyName"><br>
                    <span class="spanField" *ngIf = "onBoard.controls.companyName.touched &&
                    onBoard.controls.companyName.errors?.required ">this field is required</span>
                </div>

                <div class="regForm">
                    <label  class="topField" for="">Company Address*</label><br>
                    <input  class="inputField formField" type="text" placeholder="Company Address"
                     formControlName = "companyAddress"><br>
                    <span class="spanField" *ngIf = "onBoard.controls.companyAddress.touched &&
                    onBoard.controls.companyAddress.errors?.required ">this field is required</span>
                </div>

                <div class="regForm">
                    <label class="topField" for="">GST Number*</label><br>
                    <input  class="inputField formField" type="text" placeholder="GST Number" formControlName = "gst"><br>
                    <span class="spanField" *ngIf = "onBoard.controls.gst.touched &&
                    onBoard.controls.gst.errors?.required ">this field is required</span>
                </div>

                <div class="regForm">
                    <label class="topField" for="">Bank Details*</label><br>
                    <input class="inputField formField" type="text" placeholder="Bank Details" formControlName = "bankDetails"><br>
                    <span class="spanField" *ngIf = "onBoard.controls.bankDetails.touched &&
                    onBoard.controls.bankDetails.errors?.required ">this field is required</span>
                </div>

                <div class="regForm">
                    <label class="topField" for="">Email*</label><br>
                    <input class="inputField formField"  type="text" placeholder="Email" formControlName = "email"><br>
                    <span class="spanField" *ngIf = "onBoard.controls.email.touched &&
                    onBoard.controls.email.errors?.required ">this field is required</span>
                </div>

                <div class="regForm">
                    <label class="topField" for="">Brand Name*</label><br>
                    <input class="inputField formField" type="text" placeholder="Brand Name" formControlName = "brandName"><br>
                    <span class="spanField" *ngIf = "onBoard.controls.brandName.touched &&
                    onBoard.controls.brandName.errors?.required ">this field is required</span>
                </div>
                
                <div class="regForm">
                    <label class="topField" for="">Logo</label> <br>
                   <!--  <input class="formField" type="file"  placeholder="Logo"><br> -->
                    <input  class="inputField "  type="file"  formControlName = "logo" 
                    (Change)="inputImage($event.target.files)" >
                  </div>
                  <div *ngFor = "let url of urls; let i = index">
                      <img [src]="url" >
                  </div>

                  <div class="regForm">
                    <label class="topField" for="">Brand Desc*</label><br>
                    <input class="inputField formField" type="text" placeholder="Brand Desc" formControlName = "description"><br>
                    <span class="spanField" *ngIf = "onBoard.controls.description.touched &&
                    onBoard.controls.description.errors?.required ">this field is required</span>
                </div>

                <div class="regForm">
                    <label class="topField" for="">Do You Have Brand Instagram Account*</label><br>
                   
                    <div class="form-check checkBox" *ngFor = "let val of value; let i = index">
                        <input class="form-check-input" type="radio"  formControlName = "insta_Acc"
                         id="gridRadios1" [value]="val.type" checked (change)="AsChange($event,insta_Acc)">
                        <label for="" >{{val.type}}</label>
                    </div>
                </div>

                <div class="regForm">
                    <label class="topField" for="">If Yes,please share the Instagram Id and password*</label><br>
                    <input class="inputField formField" type="text" placeholder="Not Required" formControlName="insta_Id"><br>
                </div>

                <div class="regForm">
                    <label class="topField" for="">Do You Have Brand FaceBook Account*</label><br>
                    
                    <div class="form-check checkBox" *ngFor = "let val of value; let i = index">
                        <input class="form-check-input" type="radio" formControlName = "faceBook_Acc"
                         id="gridRadios1" [value]="val.type" checked (change)="AsChange($event,faceBook_Acc)">
                        <label for="" >{{val.type}}</label>
                    </div>
                </div>

                <div class="regForm">
                    <label class="topField" for="">If Yes,please share the FaceBook Id and password  *</label><br>
                    <input class="inputField formField" type="text" placeholder="Not Required" formControlName = "faceBook_Id"><br>
                </div>

                <div class="regForm">
                    <label class="topField" for="">Do You Have Website For Your Brand*</label><br>
                   
                    <div class="form-check checkBox" *ngFor = "let val of value; let i = index">
                        <input class="form-check-input" type="radio" formControlName = "website"
                         id="gridRadios1" [value]="val.type" checked (change)="AsChange($event,website)">
                        <label for="" >{{val.type}}</label>
                    </div>
                </div>

                <div class="regForm">
                    <label class="topField" for="">If Yes,please share the Admin Panel*</label><br>
                    <input class="inputField formField" type="text" placeholder="Not Required" formControlName = "adminPanel"><br>
                </div>

                <div class="regForm">
                    <label class="topField" for="">Do you have any images of your brand product/Service? <br> If yes,then kindly share to <a href="dm@rinteger.com*">dm@rinteger.com</a></label><br>
                   

                    <div class="form-check checkBox" *ngFor = "let val of value; let i = index">
                        <input class="form-check-input" type="radio" formControlName = "productImage"
                         id="gridRadios1" [value]="val.type" checked (change)="AsChange($event,productImage)">
                        <label for="" >{{val.type}}</label>
                    </div>
                </div>

                <div class="regForm">
                    <label class="topField" for="">If No,Are you interested to do a photoshoot ?</label><br>
                   
                    <div class="form-check checkBox" *ngFor = "let val of value; let i = index">
                        <input class="form-check-input" type="radio"  formControlName ="photoShoot"
                         id="gridRadios1" [value]="val.type" checked (change)="AsChange($event,photoShoot)">
                        <label for="" >{{val.type}}</label>
                    </div>
                </div>


                <div class="regForm">
                    <label class="topField" for="">Kindly share the details of primary person to contact. *</label><br>
                    <input class="inputField formField" type="number" placeholder="Primary Contact" formControlName ="primaryContact"><br>
                    <span class="spanField" *ngIf = "onBoard.controls.primaryContact.touched &&
                    onBoard.controls.primaryContact.errors?.required ">this field is required</span>
                </div>

                <div class="regForm">
                    <label class="topField" for="">Do you have any Videos of your brand product/Service? <br>If yes,then kindly share to <a href="dm@rinteger.com*">dm@rinteger.com</a></label><br>
                  
                    <div class="form-check checkBox" *ngFor = "let val of value; let i = index">
                        <input class="form-check-input" type="radio" formControlName ="productVideo"
                         id="gridRadios1"  [value]="val.type"  checked (change)="AsChange($event,productVideo)">
                        <label for="" >{{val.type}}</label>
                    </div>
                </div>

                <div class="regForm">
                    <label class="topField" for="">If yes, kindly share your brand registered certificate.</label> <br>
                   
                    <input  class="inputField"  type="file"  formControlName = "brandReg" (onChange)="onOpen($event,'image')" ><br>
                  </div>

                <div class="regForm">
                    <label class="topField" for="">Any special comments</label><br>
                    <input class="inputField formField" type="text" placeholder="Not Required" formControlName ="specialCmmt"><br>
                </div>

                <button type="submit" (click) = "onSubmit()" class="btnSubmit" value="send">Submit</button>
            </form>
        </div>
    </div>
</div>
