.title{
text-align: center;
}

.formField{
    height: 35px;
    width: 430px;
    border: 1px solid;
   margin-bottom: 5px;
   left: 450px;
    position: relative;
}

.topField{
    height: 30px;
    width: 300px;
    font-size: 17px;
    font-weight: 700;
    font-family: sans-serif;
   margin-bottom: 10px;
   left: 450px;
    position: relative;
}

.btnSubmit{
    background-color: black;
    height: 44px;
    width: 175px;
    color: white;
    position: relative;
    left: 575px;
    border: 1px solid;
    font-size: 23px;
    font-family: system-ui;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 30px;
}

.spanField{
    color: red;
    left: 450px;
    position: relative;
    }