<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="col-md-12 text-center text-dark">
                <h2 class="title">Bank Details</h2>
                <form action="">
                <div>
                    <label class="topField" for="">Account Number</label> <br>
                    <input class="formField formControl"  type="number" placeholder="Account Number" [formControl] = "Accountnumber"><br>
                    <span class="text-danger spanField" *ngIf = "Accountnumber.touched && IFSCcode.errors?.required">This field is required</span>
                </div>

                <div>
                    <label class="topField" for="">IFSC Code</label> <br>
                    <input class="formField formControl" type="text" placeholder="IFSC Code" [formControl] = "IFSCcode"> <br>
                    <span class="text-danger spanField" *ngIf = "IFSCcode.touched && IFSCcode.errors?.required">This field is required</span>
                </div>

                <div>
                    <label class="topField" for="">Account Holder Name</label> <br>
                    <input class="formField formControl" type="text" placeholder="Account Holder Name" [formControl] = "Accountholdername"><br>
                    <span class="text-danger spanField" *ngIf = "Accountholdername.touched && IFSCcode.errors?.required">This field is required</span>
                </div>

                <div>
                    <label class="topField" for="">Account Type</label> <br>
                    <input class="formField formControl" type="text" placeholder="Account Type" [formControl] = "Accounttype"><br>
                    <span class="text-danger spanField" *ngIf = "Accounttype.touched && IFSCcode.errors?.required">This field is required</span>
                </div>

                <div>
                    <label class="topField" for="">Bank Name</label> <br>
                    <input class="formField formControl" type="text" placeholder="Bank Name" [formControl] = "Bankname"><br>
                    <span class="text-danger spanField" *ngIf = "Bankname.touched && IFSCcode.errors?.required">This field is required</span>
                </div>
                <button type="submit" (click) = "onChange()" class="btnSubmit" value="send">Submit</button>
            </form>
              </div>
        </div>
    </div>
 
</div>


