<!-- 
<div class="container">
  <div class="row">
      <div class="col-md-10">
          <div class="col-md-6 text-center text-dark">
              <h2 class="title">RIGISTRATION</h2>
            </div>
            <div>
              <input class="formField formControl" type="number" placeholder="Employee Number" [formControl] = "EmployeeNumber"/> <br>
            <input class="formField formControl" type="text" placeholder="Employee Name" [formControl] = "EmployeeTask"/> <br>
            <input class="formField formControl" type="text" placeholder="Department" [formControl] = "EmployeeName"> <br>
            <input class="formField formControl" type="text" placeholder="Task Pending" [formControl] = "EmployeeDepartment"><br>
            <button type="submit" (click) = "onClick()" class="btnSubmit" value="send">Submit</button>
          </div>
      </div>
  </div>

</div> -->
<div>
  <h2>Welcome to registractiom</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 headerMenu" >
           <ul class="topMenu">
            <li>
              <a class="menuList" routerLink = ''>Home</a>
            </li>
             <li>
               <a class="menuList" routerLink = '/register'>Registration</a>
             </li>
             <li>
              <a class="menuList" routerLink = '/Bank-Detials'>Bank Details</a>
            </li>
            <li>
              <a class="menuList" routerLink = '/Brand'>Brand Register</a>
            </li>

            <li>
              <a class="menuList" routerLink = '/onBoard'>On Boarding</a>
            </li>
           </ul>
    </div>
  </div>
</div>




<div>
  <router-outlet></router-outlet>
</div>