/* .formField{
    height: 35px;
    width: 430px;
    border: 1px solid;
   margin-bottom: 5px;
   left: 450px;
    position: relative;
}

.inputField{
    height: 30px;
    width: 300px;
   margin-bottom: 10px;
   left: 450px;
    position: relative;
}

.btnSubmit{
    background-color: black;
    height: 44px;
    width: 175px;
    color: white;
    position: relative;
    left: 575px;
    border: 1px solid;
    font-size: 23px;
    font-family: system-ui;
    font-weight: 600;
    letter-spacing: 1px;
}

.title{
    text-align: center;
}

.topField{
    height: 30px;
    width: 300px;
    font-size: 17px;
    font-weight: 700;
    font-family: sans-serif;
   margin-bottom: 10px;
   left: 450px;
    position: relative;
}

.regForm{
    margin-top: 10px;
}

.spanField{
color: red;
left: 450px;
position: relative;
}
 */
.topMenu{
    display: inline-flex;
    list-style-type: none;
}

.menuList{
    margin-right: 10px;
}

.headerMenu{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: black !important;
}