<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="title">Brand Register</h2>
            <form action="">
            <div class="regForm">
                <label class="topField" for="">TrademarkCertificate</label> <br>
                <input  class="inputField"  type="file" [formControl]="trademarkcertificate" 
                (onChange)="onOpen($event.target.files)" ><br>
                <div *ngFor = "let url of urls; let i = index">
                  <img [src]="url" >
              </div>
              </div>

              <div class="regForm">
                <label class="topField" for="">Brand Logo</label> <br>
                <input  class="inputField"  type="file" [formControl]="brandlogo" 
                (onChange)="onOpen($event.target.files)" ><br>
                <div *ngFor = "let url of urls; let i = index">
                  <img [src]="url" >
              </div>
              </div>

              <div class="regForm">
                <label class="topField" for="">Acknowledgement</label> <br>
                <input  class="inputField"  type="file" [formControl]="acknowledment"
                 (onChange)="onOpen($event.target.files)" ><br>
                 <div *ngFor = "let url of urls; let i = index">
                  <img [src]="url" >
              </div>
              </div>

              <div class="regForm">
                <label class="topField" for="">The Brand has visible on Packing Material</label> <br>
                <input  class="inputField"  type="file" [formControl]="brandpacking"
                 (onChange)="onOpen($event.target.files)" ><br>
                 <div *ngFor = "let url of urls; let i = index">
                  <img [src]="url" >
              </div>
              </div>

              <div class="regForm">
                <label class="topField" for="">The Brand has visible on Product</label> <br>
                <input  class="inputField"  type="file" [formControl]="brandvisible" 
                (onChange)="onOpen($event.target.files)" ><br>
                <div *ngFor = "let url of urls; let i = index">
                  <img [src]="url" >
              </div>
              </div>

              <button type="submit" (click) = "onClick()" class="btnSubmit" value="send">Submit</button>
            </form>
        </div>
    </div>
</div>
