<div class="row">
    <div class="col-md-12">
      <h2 class="title">RIGISTRATION</h2>
      <form action="" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  
        <div class="regForm">
          <label class="topField" for="">TIN/GST</label> <br>
          <input  class="inputField"  type="file"  [formControl] = "GST" 
          (onChange)="onOpen($event.target.files)" ><br>
          <div *ngFor = "let url of urls; let i = index">
            <img [src]="url" >
        </div>
        </div>
  
        <div class="regForm">
          <label class="topField" for="">PAN CARD</label> <br>
          <input class="inputField" type="file"  [formControl] = "panCard" (click)="onOpen($event,'image')" ><br>
          <div *ngFor = "let url of urls; let i = index">
            <img [src]="url" >
        </div>
        </div>
        <div class="regForm">
          <label class="topField" for="">ADDRESS PROOF</label> <br>
          <input class="inputField" type="file"  [formControl] = "AddressProof" (click)="onOpen($event,'image')" ><br>
          <div *ngFor = "let url of urls; let i = index">
            <img [src]="url" >
        </div>
        </div>

        <div class="regForm">
          <label class="topField" for="">GROCERY PRODUCT/FSSAI CERTIFICATE</label> <br>
          <input class="inputField" type="file"  [formControl] = "groceryProduct" (click)="onOpen($event,'image')" ><br>
          <div *ngFor = "let url of urls; let i = index">
            <img [src]="url" >
        </div>
        </div>
  
        <div class="regForm">
          <label class="topField" for="">CANCELLED CHEQUE</label> <br>
          <input class="inputField" type="file"  [formControl] = "CancelledCheque" (click)="onOpen($event,'image')" ><br>
          <div *ngFor = "let url of urls; let i = index">
            <img [src]="url" >
        </div>
        </div>
  
        <div class="regForm">
          <label class="topField" for="">OFFICE ADDRESS PROOF</label> <br>
          <input class="inputField" type="file"  [formControl] = "OfficeAddressProof" (click)="onOpen($event,'image')" ><br>
          <div *ngFor = "let url of urls; let i = index">
            <img [src]="url" >
        </div>
        </div>
  
        <div class="regForm">
          <label class="topField" for="">EMAIL/CONTACT NUMBER</label> <br>
          <input class="formField" type="text"  placeholder="Email/ContactNumber" [formControl] = "Email"><br>
        <span  *ngIf="Email.errors.pattern?.required"></span>
         <span class="text-danger spanField" *ngIf="Email.touched && Email.errors?.required">this field is required</span>
         <span class="text-danger spanField" *ngIf="!Email.errors?.required && Email.touched && Email.errors?.email"> Invalid Email</span>
        </div>
  
        <div class="regForm">
          <label class="topField" for="">DIGITAL SIGN</label> <br>
          <input class="inputField" type="file"  [formControl] = "digitalSign" (click)="onOpen($event,'image')" ><br>
        </div>
  
        <div class="regForm">
          <label class="topField" for="">PRODUCT TYPE</label> <br>
          <input class="formField" type="text"  placeholder="Clothing/Homeappliences" [formControl] = "sellingProduct"><br>
         
         <div class="form-check checkBox" *ngFor = "let val of value; let i = index">
          <input class="form-check-input" type="radio" name="gridRadios"
          id="gridRadios1" [value]="val.alk" checked (change)="onPass($event)">
            <label for="">{{val.alk}}</label>
         </div>
        </div>
  
        <div class="regForm">
          <label class="topField" for="">CUSTOMER TYPE</label> <br>
          <input class="formField" type="text"  placeholder="Manufactuer/Retailer/Wholesaler" [formControl] = "CustomerType"><br>
       <div class="form-check checkBox" *ngFor = "let dat of Data; let i = index" >
        <input class="form-check-input" type="radio" name="gridRadios"
        id="gridRadios1" [value]="dat.value" checked (change)="onChange($event)">
        <label for="">{{dat.value}}</label>
      </div>
    </div>


        <div class="regForm">
          <label class="topField" for="">ANNUAL TURNOVER</label> <br>
          <input class="formField" type="text"  placeholder="TurnOver" pattern="[1-z0-9 ]*" [formControl] = "AnnualTurnOver"><br>
         <span class="text-danger spanField" *ngIf="AnnualTurnOver.touched && AnnualTurnOver.errors?.required">this field is required</span>
         <span class="text-danger spanField" *ngIf="Product.pattern?.required">this field is required</span>
        </div>
  
        <div class="regForm">
          <label class="topField" for="">NO OF PRODUCTS DO YOU SELL</label> <br>
          <input  class="formField" type="text"  placeholder="Total Count" [formControl] = "Product"><br>
         <!--  <form class="range-field ">
            <input class="formSlider" id="slider11" type="range" min="0" max="1000" value="value" (change) = onPricechange(value) />
          </form> -->
          <div class="form-check checkBox" *ngFor = "let rag of range; let i = index">
            <input class="form-check-input" type="radio" name="gridRadios"
            id="gridRadios1" [value]="rag.price" checked (change)="onPrice($event)">
            <label for="">{{rag.price}}</label>
          </div>
        </div>
  
        <div class="regForm">
          <label  class="topField" for="">SMALL DESCRIPTION</label> <br>
          <input  class="formField" type="text"  placeholder="About Yourself" [formControl] = "desc"><br>
          <span class="text-danger spanField" *ngIf="desc.touched && desc.errors?.required">this field is required</span>
        </div>
        <button type="submit" (click) = "onClick()" class="btnSubmit" value="send">Submit</button>
      </form>
    </div>
  </div>
